<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @ulisting.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @ulisting.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ulisting.email %>
</p>

<p>
  <strong>Postition:</strong>
  <%= @ulisting.postition %>
</p>

<%= link_to 'Edit', edit_ulisting_path(@ulisting) %> |
<%= link_to 'Back', ulistings_path %>
